$url: 'http://localhost:3000';
$background : '/src/assets/tube.png';

.arrivals {
    border: 1px solid #ddd;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding:10px;
    margin: 10px 0;

    h1 {
        width:30%;
        text-align:center;
    }
    h3 {
        width:70%;
    }

    &-data{
        display:none;
    }
}