.direction_filter {
    margin-bottom:20px;

    button {
        background: rgba(0,25,168,1);
        color:#fff;
        border:none;
        border-radius:5px;
        font-size:18px;
        padding:10px;
        margin-right: 10px;
        max-width:150px;
        width:100%;

        &:hover {
            background: rgba(0,25,168,0.5);
            cursor:pointer;
        }
    }
}