@use 'colors';

.mode {
    width:100%;

    a {
        width:100%;
        font-size:22px;
        @media screen and (min-width: 1005px){
            width:45%;
            
        }
    }

    &_header {
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        border:1px solid #aaa;
        border-radius:5px;
        padding: 10px;
        margin-bottom:3%;
        align-items: center;

        &-subtitle {
            margin-left:5px;
            display:none;
        }
        
        h2{
            align-self: center;
            text-align: center;
        }

        p, img {
            width:100%;
            align-items: center;
        }
    }

    &_body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .btn{
        background: colors.$corporateDarkGrey;
        color: colors.$corporateWhite;
        margin:0;

        &:hover {
            background: colors.$corporateGrey;
        }
    }

    .bus {width:5%;}

    @media (min-width:400px){
        &_header {
            flex-direction: row;

            h2{
                display:flex;
                text-align: left;
            }

            img {width:50%;}
        }
    }
    @media (min-width:768px){
        &_header {
            &-subtitle {
                display:flex;
            }
        }
    }
}