@use 'colors';

.mode {
    width:100%;

    a {
        width:100%;
        font-size:22px;
        @media screen and (min-width: 1005px){
            width:45%;
        }
    }

    &_header {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        border:1px solid #aaa;
        border-radius:5px;
        padding: 10px;
        margin-bottom:3%;
        
        h2{
            align-self: center;
        }

        p, img {
            width:50%;
        }
    }

    &_body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .btn{
        background: colors.$corporateBlue;
        color: colors.$corporateWhite;
    }
}