@use 'colors';

.modes {

    display:flex;
    flex-direction:column;
    max-width:100%;

    .btn{
        max-width:100%;
        background: colors.$corporateDarkGrey;
        color: colors.$corporateWhite;
    }
}