.reference {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    &_separator{
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 0 10px 10px 10px;
        flex-wrap: wrap;

        h2, p {width:100%;}

        div {    
            width: 45%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            border: 1px solid #ddd;
            margin: 1%;
            padding:10px;
        }
    }

    &_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 3%;
        width:100%;

        h1, h2 {
          
        }
    }

}

