.stops-card {
    display:inline-flex;
    max-width:100%;
    width:28%;
    border: 1px solid #eee;
    padding: 10px;
    border-radius:5px;
    margin:5px;
    min-height:50px;
    flex-direction: column;
    text-decoration: none;
    color: #333;
    flex-wrap:wrap;
    flex-direction: row;

    .circle-letter {
        background-color: green;
        max-width:100%;
        color:#fff;
        font-size:12px;
        border-radius:50%;
        /*width: 7%;*/
        display:flex;
        justify-content: space-around;
        font-weight:bold;
        margin-right: 2px;
    }

    a {
        width:22%;
        font-size:22px;
    }

    &:hover {
        background: rgba(0,25,168,1);
        color:#fff;
        text-decoration: none;
      }
  }
  
  